<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= cook.cook_name %>的做法</title>
	<link rel="stylesheet" type="text/css" href="/css/cookdetail.css">
	<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
	<link rel="icon" href="/images/icon/logo.ico" type="image/x-ico"/>
	<script src="/js/jquery-3.1.1.js"></script>
	<script src="/js/cookdetail.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</head>
<body>
	<!--页头框架-->
	<%- include('./header.html') %>
	<a name="top"></a>
	<div id="main" data-id="<%= cook.cook_id %>">
		<div class="wropp">
			<p class="title">
				<a href="/" class="h-link">首页</a>
				<span>&gt;</span>
				<a href="/cook?id=1" class="h-link">菜谱大全</a>
				<span>&gt;</span>

				<!--菜谱名字-->
				<span class="currentTitle"><%= cook.cook_name %></span>
			</p>
			<div class="releft">
				<div class="recinfo">
					<div class="top-image">
						<a href="javascript:void(0)">
							<img src="/images/<%= cook.cook_images %>" alt="作品图片" title="<%= cook.cook_name %>">
						</a>
					</div>
					<h2><%= cook.cook_name %></h2>
					<span class="cook-des"><%= cook.cook_content %></span>
					<div class="falisc">
						<span id="like" class="falisc-left"><b class="like-num"><%= cook.cook_likes  %></b>点赞</span>
						<span id="collect-count" class="falisc-left"><b class="collect-num"><%= cook.cook_collects %></b>收藏</span>
						<span class="falisc-right">
							<a class="collect icon-1" href="javascript:void(0)">收藏</a>
						</span>
						<span class="falisc-right">
							<a class="like icon-1" href="javascript:void(0)">点赞</a>
						</span>

					</div>
					<div class="retew">
						<div class="auth">
							<a href="/users/personal?id=<%= user.user_id %>" class="image-link">
								<img src="/images/<%= user.user_portart %>" alt="<%= user.user_name  %>">
							</a>
							<h4>
								<a href="/users/personal?id=<%= user.user_id %>" class=""><%= user.user_name  %></a>
								<span class="post-date">发布于&emsp;<%= cook.cook_date %></span>
							</h4>
							<p class="focus">
								<span class="foc f1" data-id="<%= user.user_id  %>">关注</span>
							</p>
						</div>
						<div class="cookdt">
							<span class="cook-difficult">难度：<%= cook.cook_difficulty  %></span>
							<span class="cook-time">时间：<%= cook.cook_time  %></span>
						</div>
						<!--主料辅料区域 -->
						<dl class='cook-list'>
							<dt>主料</dt>
							<%  materiallist.forEach(function(item){  %>
								<dd class='item-list'>
									<span><%= item.material_name  %></span>
									<span class='span2'><%= item.material_num  %></span>
								</dd>
							<%  }) %>
						</dl>

						<dl class='cook-list'>
							<dt>辅料</dt>
							<%  submateriallist.forEach(function(item){  %>
								<dd class='item-list'>
									<span><%= item.submaterial_name  %></span>
									<span class='span2'><%= item.submaterial_num  %></span>
								</dd>
							<%  }) %>
						</dl>

						<!-- =====步骤========= -->
						<div class="step">
						<h3><%= cook.cook_name %>的做法步骤</h3>
						<%  steplist.forEach(function(item){  %>
						<div class="stepcont">
							<div class="pldc">
								<img src="/images/<%= item.step_img  %>" alt="步骤<%= item.step_num %>">
							</div>
							<p>
								<b class="fwb"><%= item.step_num %>.</b>
								<%= item.step_content %>
							</p>
						</div>
						<%  }) %>
					</div>

						<!-- ================评论================ -->
						<div class="commentArea">
							<div class="block">&nbsp;&nbsp;&nbsp;说点什么吧</div>
							<!--评论框-->
							<div class="cbox">
								<!--圆形登录-->
								<div class="login_block">
									<div class="bord">
										<span class="line"></span>
										<div class="cover_line"></div>
									</div>
									<div class="user-portart">
										<a class="login" href="/users/login">登录</a>
									</div>
								</div>
								<!--评论填写框-->
								<div class="post_block">
									<textarea id="comt-comment"></textarea>
								</div>
								<!--发表行-->
								<div class="btnline">
									<button class="postBtn">发表</button>
								</div>
								<!--标头“评论”的效果-->
								<div class="com_list_outlook">
									<!--“评论”-->
									<span class="com_list_style">
										评论
										<span class="com_list_style_bord"></span>
									</span>
									<!--直线-->
									<span class="com_list_line"></span>
								</div>
							</div>

							<!--评论列表-->
							<div class="clist" data-length="<%= comment.length %>">
								<% comment.forEach(function(item){ %>
									<div class="citem">
										<ul class="cmt_info">
											<li class="portart"><a href="/personals/?id=<%= item.user_id %>"><img src="/images/<%= item.user_portart %>"></a></li>
											<li class="cmt_content">
												<a href="/personals/?id=<%= item.user_id %>"><span class="cmt_user"><%= item.user_name %></span>&nbsp;&nbsp;</a>
												<span class="cmt_time"><%= item.commentcook_time %></span>
												<p class="content"><%= item.commentcook_content %></p>
											</li>
										</ul>
									</div>
								<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--============右边推荐=========-->
			<div class="reright">
				<h3>十大热门菜谱</h3>
				<% for(var i = 0;i < 10;i++){ %>
				<div class="shxs">
					<a href="/cook/detail?id=<%= cookrecommend[i].cook_id %>" class="recommend-link">
						<img src="/images/<%= cookrecommend[i].cook_images %>" alt="<%= cookrecommend[i].cook_name %>" title="<%= cookrecommend[i].cook_name %>">
					</a>
					<div class="sdjy">
						<a href="/cook/detail?id=<%= cookrecommend[i].cook_id %>"><%= cookrecommend[i].cook_name %></a>
						<p><%= cookrecommend[i].cook_content %></p>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>

	<a href="#top" class="back-top" title="返回顶部"></a>
	<!--页脚-->
	<%- include('./footer.html') %>
</body>
</html>