<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
    <link rel="stylesheet" href="/css/footer2.css">

</head>
<body>
    <footer class="footer">
        <section>
            <nav class="footer-logo">
                <a href="">
                    <img src="/images/icon/new_logo_footer.png" alt="logo">
                </a>
            </nav>
            <nav class="footer-content">
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="#">关于七饭</a></dd>
                    <dd><a href="#">加入七饭</a></dd>
                    <dd><a href="#">用户协议</a></dd>
                </dl>
            </nav>
            <nav class="footer-content">
                <dl class="footer-service">
                    <dt>客户服务</dt>
                    <dd><a href="#">帮助中心</a></dd>
                    <dd><a href="#">意见反馈</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
            </nav>
            <nav class="footer-link">
                <dl>
                    <dt>友情链接</dt>
                    <dd><a href="#">菜谱网</a></dd>
                    <dd><a href="#">美食杰</a></dd>
                    <dd><a href="#">美食天下</a></dd>
                </dl>
            </nav>
        </section>
    </footer>
</body>
</html>