a{
    color: black;
}
a:hover{
    color: #2a6496;
    text-decoration: underline;
}

.cookBox{
    width: 1002px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    top: -30px;
    /*margin: 30px auto;*/
}
.cookUl{
    width: 235.5px;
    height: auto;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    /*border:1px solid #DDDDDD;*/
    border-radius: 4px;
    background: #F4F0EC;
    /*box-shadow: 0px 1px 3px #DADADA;*/
}

.cookMain{
    color: #333333;
    font-size: 24px;
    font-family: "黑体";
    letter-spacing: 15px;
    padding: 10px;
    font-weight: bold;
    /*background-color: #F4F0EC;*/
}
.cookMain p{
    width: 200.5px;
    margin:0px 0px 8px 15px;

}
/*.cookMain:nth-child(2) .menuMain{*/
    /*letter-spacing: 10px;*/
    /*!*width: 205.5px;*!*/
    /*!*margin-left: 10px;*!*/
/*}*/
.menuMain{
    color: #12937C;
    font-size: 18px;
    padding: 7px;
    font-weight: 300;
    letter-spacing: 0px;
    border-radius: 2px;
}
.menuBackground{
    background-color: #E9E1DA;
}
.menuHide{
    display: none;
}

.row{
    width: 100%;
    height: auto;
}
.thumbnail{
    width: 235.5px;
    height: 317.5px;
    box-sizing: border-box;
    /*padding: 4px;*/
    box-shadow: 0px 1px 3px #DADADA;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}

.thumbnail img{
    width: 235.5px;
    height: 235.5px;
}

.cookRight{
    width: 766.5px;
    height: auto;
    float: right;
    position: relative;
}
.rightList{
    width: 746.5px;
    height: 42px;
    margin:0px 0px 10px 20px;
    border-bottom: 1px solid #F4F0EC;
}
.rightSort{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    display: inline-flex;
    color: #0C8571;
    font-weight: 500;
}
.sortSelected{
    color: #333;
    /*font-weight: bold;*/
    /*border:1px solid #DAEAE8;*/
    background-color: #F4F0EC;
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
}
.sortUnSelected{
    color: #12937C;
    border-radius: 6px 6px 0px 0px;
    /*border:1px solid #DAEAE8;*/
    border-bottom: none;
}
.rightSort span{
    font-size: 20px;
    color: #F4F0EC;
}
.sortWay{
    width: 100px;
    height: 42px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    /*border-bottom: 2px solid black;*/
}

.caption{
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    position: relative;
}
.caption h4{
    width: auto;
    height: 19px;
    margin-bottom: 8px;
}
.caption p{
    display: inline-block;
}
.portart{
    width: 58px;
    height: 58px;
    box-sizing: border-box;
    padding: 4px;
    background-color: white;
    border-radius: 29px;
    position: absolute;
    top:-25px;
    right: 10px;
}
.caption img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.list_likes{
    font-size: 12px;
    margin-left: 12px;
}
.list_likes,span{
    color: #333;
}
.list_date{
    margin-top: 8px;
    font-size: 12px;
    color: #9d9d9d;
}

.jsShow{
    display: block;
}
.jsHide{
    display:none ;
}


.cookBtn{
    width: 766.5px;
    height: auto;
    float: right;
}

button{
    padding:4px 7px ;
    margin-left: 5px;
}
.menuBtnUp,.menuBtnNum,.menuBtnPoint,.menuBtnDown{
    border: 1px solid #12937C;
    color: #12937C;
    background-color: white;
    border-radius: 3px;
    /*display: block;*/
    cursor: pointer;
}
.pointBtn{
    color: #12937C;
    margin-left: 5px;
}
.clickBtn{
    border: 1px solid #12937C;
    background-color: #12937C;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.menBtn{
    width: 500px;
    /*height: 27px;*/
    position: relative;
    left: 273px;
}
.menuBtnPoint{
    border: none;
    padding: 0px;
}
.cookBtn span{
    font-size: 14px;
}
.cookBtn input{
    width: 40px;
    height: 20px;
}