*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F8F8F7;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
#pageContent{
    width: 1002px;
    height: auto;
    margin: 30px auto;
    font-size: 12px;
}
a{
    text-decoration: none;
}
.contentPage {
    width: 1002px;
    height: auto;
    background-color: #F7F3E8;
    margin: auto;
}

/*font*/
h2{
    font-family: Helvetica, Arial, sans-serif;
    color: #330;
    font-size: 2em;
    line-height:50px;
}
p{
    width: 100%;
    font-size: 1.2em;
    color: #333;
    text-align: left;
    font-family: microsoft yahei;
    line-height: 200%;
}
/*.derection{*/
    /*font-size: 1.5em;*/
    /*padding:10px 0px 5px 0px;*/
    /*display: inline;*/
/*}*/
.small{
    font-size: 1.2em;
    padding:10px 0px 5px 0px;
    display: inline;
}
.info{
    width: 100%;
    font-size: 1em;
    /*color: #333;*/
    text-align: left;
    font-family: microsoft yahei;
    line-height: 200%;
    padding-bottom: 20px;
}
